@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #fff59d;
}

.header{
    background-color: #1b3039;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding: 5px 10%;
}

.header .logo img{
    height: 70px;
    width: auto;
    border-radius: 50px;
    transition: all 0.3s;
}

.header .logo{
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

.header .logo img:hover{
    transform: scale(1.08);
}

.header nav{
    order:1;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:nth-child(1){
    padding: 0 20px 0 0;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}
.header .nav-links a{
    font-size: 700;
    color:#eceff1 ;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: #ffbc00
}

.header .btn{
    order: 2;

}
.header .btn button{
    font-weight: 700;
    color:#1b3039; 
    padding:9px 25px;
    background: #eceff1;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color:#ffbc0e;
    transform: scale(1.1);
}